*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    display: flex;
    justify-content: right;
}
body{
    background-color: black; 
}
input{
    width: 100%;
    padding: 12px 12px;
    box-sizing: border-box;
    margin: 8px;
}
input[type="text"]{
    padding: 12px 12px;
    box-sizing: border-box;
    margin: 8px;
    width:100%;
}
